

NET CLKIN PERIOD = 125 ;
#TIMESPEC TS01 = PERIOD registers_50mhz 20 ;

NET "CPU_d<0>"      LOC = "FB1_17"  ; # D0
NET "CPU_d<1>"      LOC = "FB1_3"  ; # D1
NET "CPU_d<2>"      LOC = "FB1_6"  ; # D2
NET "CPU_d<3>"      LOC = "FB1_8"  ; # D3
NET "CPU_d<4>"      LOC = "FB3_3"  ; # D4
NET "CPU_d<5>"      LOC = "FB1_15"  ; # D5
NET "CPU_d<6>"      LOC = "FB1_12"  ; # D6
NET "CPU_d<7>"      LOC = "FB4_13"  ; # D7
#
NET "CLKIN"     LOC = "FB1_9"  ; # -- global clock: Pin 9,10,12###
#
NET "CPU_a<0>"      LOC = "FB1_18"  ; 
NET "CPU_a<1>"      LOC = "FB3_1"  ; 
NET "CPU_a<2>"      LOC = "FB3_9"  ; 
NET "CPU_a<3>"      LOC = "FB3_3"  ; 
NET "CPU_a<4>"      LOC = "FB3_4"  ; 
NET "CPU_a<5>"      LOC = "FB3_11"  ; 
NET "CPU_a<6>"      LOC = "FB3_6"  ;
NET "CPU_a<7>"      LOC = "FB3_7"  ;
NET "CPU_a<8>"      LOC = "FB3_14"  ;
NET "CPU_a<9>"      LOC = "FB3_15"  ;
NET "CPU_a<10>"     LOC = "FB3_17"  ; 
NET "CPU_a<11>"     LOC = "FB3_10"  ; 
NET "CPU_a<12>"     LOC = "FB3_12"  ; 
NET "CPU_a<13>"     LOC = "FB3_13"  ; 
NET "CPU_a<14>"     LOC = "FB4_2"  ; 
NET "CPU_a<15>"     LOC = "FB3_16"  ; 

NET "EXT_a<14>"     LOC = "FB2_15"  ; # AO14
NET "EXT_a<15>"     LOC = "FB2_16"  ; # AO15
NET "EXT_a<16>"     LOC = "FB2_14"  ; # AO16
NET "EXT_a<17>"     LOC = "FB2_13"  ; # AO17
NET "EXT_a<18>"     LOC = "FB2_12"  ; # AO18

NET "CS_OPL"   	  LOC = "FB4_12"  ; #
NET "CS_VIA"        LOC = "FB4_10"  ; #
NET "CS_VDP"       LOC = "FB4_7"  ; #
NET "CS_UART"       LOC = "FB4_6"  ; #
NET "CS_ROM"        LOC = "FB4_11"  ; #
NET "CS_RAM"        LOC = "FB4_4"  ; #

NET "CPU_rw"    	  LOC = "FB4_9"  ; #
NET "RD"        	  LOC = "FB4_8"  ; #
NET "WR"    	     LOC = "FB4_5"  ; #
NET "CPU_phi2"      LOC = "FB4_3"  ; #

NET "RESET"     LOC = "FB2_9"  ; # -- global reset: Pin 74
NET "CPU_rdy"   LOC = "FB4_1"  ;
 # -- Global Tri state: Pin 76, 77
#
