#
## NET CLKIN PERIOD = 125;
NET CPU_d<7>      LOC = P63;
NET CPU_d<6>      LOC = P62;
NET CPU_d<5>      LOC = P61;
NET CPU_d<4>      LOC = P58;
NET CPU_d<3>      LOC = P57;
NET CPU_d<2>      LOC = P56;
NET CPU_d<1>      LOC = P55;
NET CPU_d<0>      LOC = P54;
#
NET CPU_a<0>      LOC = P65;
NET CPU_a<1>      LOC = P66;
#
NET CPU_a<4>      LOC = P67;
NET CPU_a<5>      LOC = P68;
NET CPU_a<6>      LOC = P69;
NET CPU_a<7>      LOC = P70;
NET CPU_a<8>      LOC = P71;
NET CPU_a<9>      LOC = P72;
NET CPU_a<10>     LOC = P75;
NET CPU_a<11>     LOC = P76;
NET CPU_a<12>     LOC = P77;
NET CPU_a<13>     LOC = P79;
NET CPU_a<14>     LOC = P80;
NET CPU_a<15>     LOC = P81;
#
NET EXT_a<14>     LOC = P82;
NET EXT_a<15>     LOC = P83;
NET EXT_a<16>     LOC = P84;
NET EXT_a<17>     LOC = P1;
NET EXT_a<18>     LOC = P2;
#
NET CS_OPL   	  	LOC = P35;
NET CS_VIA        LOC = P51;
NET CS_SLOT1      LOC = P50;
NET CS_SLOT0      LOC = P39;
NET CS_VDP        LOC = P47;
NET CS_UART       LOC = P48;
NET CS_ROM        LOC = P4;
NET CS_RAM        LOC = P5;
NET CS_BUFFER     LOC = P52;
#
#
NET CPU_rw    	  LOC = P44; 
NET OE        	  LOC = P6; 
NET WE    	     LOC = P7; 
NET CPU_phi2      LOC = P3; 
#
NET CPU_rdy   LOC = P40;
#
NET CLKIN     LOC = P9;# -- global clock: Pin 9,10,12###
NET RESET     LOC = P74;# -- global reset: Pin 74
