NET "CPU_a<0>"      LOC = "P1"  ; # A4
NET "CPU_a<1>"      LOC = "P2"  ; # A5
NET "CPU_a<2>"      LOC = "P3"  ; # A6
NET "CPU_a<3>"      LOC = "P4"  ; # A7
NET "CPU_a<4>"      LOC = "P6"  ; # A8
NET "CPU_a<5>"      LOC = "P7"  ; # A9

NET "CLKIN"     LOC = "P9"  ; # -- global clock: Pin 9,10,12

NET "CPU_a<6>"      LOC = "P11"  ; # A10
NET "CPU_a<7>"      LOC = "P13"  ; # A11
NET "CPU_a<8>"      LOC = "P14"  ; # A12
NET "CPU_a<9>"      LOC = "P15"  ; # A13
NET "CPU_a<10>"     LOC = "P17"  ; # A14
NET "CPU_a<11>"     LOC = "P18"  ; # A15
NET "CPU_a<12>"     LOC = "P19"  ; # A16
NET "CPU_a<13>"     LOC = "P20"  ; # A17
NET "CPU_a<14>"     LOC = "P21"  ; # A18
NET "CPU_a<15>"     LOC = "P23"  ; # A19
NET "CS_ROM"    LOC = "P24"  ; #
NET "CS_RAM"    LOC = "P25"  ; #
NET "CS_UART"   LOC = "P26"  ; #
NET "CSR_VDP"   LOC = "P31"  ; #
NET "CSW_VDP"   LOC = "P32"  ; #
NET "CS_VIA"    LOC = "P33"  ; #
NET "CS_OPL"    LOC = "P34"  ; #
#NET "RD_OPL"    LOC = "P35"  ; #
#NET "WR_OPL"    LOC = "P36"  ; #
#NET "CS_IO01"   LOC = "P37"  ; #
NET "CPU_rw"    LOC = "P39"  ; #
NET "RD"        LOC = "P40"  ; #
NET "WR"    	 LOC = "P41"  ; #
NET "CPU_phi2"  LOC = "P43"  ; #

#NET "CS_IO02"	 LOC = "P44"  ; #
#NET "CPU_vp"    LOC = "P45"  ; #
#NET "CPU_be"    LOC = "P46"  ; #
#NET "CPU_sync"  LOC = "P47"  ; #		

NET "CPU_d<0>"      LOC = "P50"  ; # D0
NET "CPU_d<1>"      LOC = "P51"  ; # D1
NET "CPU_d<2>"      LOC = "P52"  ; # D2
NET "CPU_d<3>"      LOC = "P53"  ; # D3
NET "CPU_d<4>"      LOC = "P54"  ; # D4
NET "CPU_d<5>"      LOC = "P55"  ; # D5
NET "CPU_d<6>"      LOC = "P56"  ; # D6
NET "CPU_d<7>"      LOC = "P57"  ; # D7

NET "EXT_a<13>"			LOC = "P65"  ; # AO13
NET "EXT_a<14>"   		LOC = "P66"  ; # AO14
NET "EXT_a<15>"   		LOC = "P67"  ; # AO15
NET "EXT_a<16>"   		LOC = "P68"  ; # AO16
NET "EXT_a<17>"   		LOC = "P69"  ; # AO17
NET "EXT_a<18>"   		LOC = "P70"  ; # AO18
#NET "CPU_irq"   			LOC = "P71"  ; 
#NET "CPU_nmi"   			LOC = "P72"  ; 


NET "RESET"     LOC = "P74"  ; # -- global reset: Pin 74
NET "CPU_rdy"   LOC = "P76"  ; # -- Global Tri state: Pin 76, 77

